<div class="row">
	{% for appel_projet in appel_projets %} {# Début Boucle pour les appels à projet #}
							
			{% for image in appel_projet.images %}{# Début Boucle pour les images associées aux appels à projet #}
								
						<div class="col-md-4">
							<div class="ts-grid-box ts-grid-content mb-30">
								<div class="ts-post-thumb">
										<a href="concours_two.html">
											<img class="img-fluid" src="{{ asset('/uploads/' ~ image.name )}}" alt="Image liée à l'appel à projet">
										</a>
								</div>
								<div class="post-content">
									<h3 class="post-title md">
										<a href="#">{{appel_projet.title}}</a>
									</h3>
									<div class="type"><em>Type d'offre :&nbsp;</em><span>Appel à candidatures</span></div>
									<strong class="date">Expire le 31/10/2020</strong>
									<p class="pt-2">
									  <em>{{appel_projet.description}}</em>	
									</p>
												
									<div class="text-right">
										<a href="concours_two.html" class="btn btn-danger" title="Prix Jeunesse pour l’égalité 2021 : « Quand on veut, on peut ? » "><i class="fa fa-plus-circle mx-2"></i>Consulter</a>
									</div>
								</div>
							</div>
										<!-- ts grid box-->
					    </div>
								
			{% endfor %}{# Fin boucle pour image #}
	{% endfor %}{# Fin boucle pour appel_projet #}
</div>
				