<form method="post" action="{{ path('appel_projet_delete', {'id': appel_projet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appel_projet.id) }}">
    <button class="btn">Delete</button>
</form>
