{% extends 'admin_base.html.twig' %}

{% block title %}Edit AppelProjet{% endblock %}

{% block body %}
    <h1>Edit AppelProjet</h1>

    {{ include('admin/appel_projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('appel_projet_index') }}">back to list</a>

    {{ include('admin/appel_projet/_delete_form.html.twig') }}
{% endblock %}
