{% extends 'admin_base.html.twig' %}


{% block meta %}
<meta name="msapplication-tap-highlight" content="no">
{% endblock %}

{% block title %}Azobe Administration || Tableau de bord{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}
   <a href="{{ path('appel_projet_index') }}">Projet</a>
{% endblock %}

{% block script %}
   <script src="{{asset('admin-scripts/jquery-3.2.1.slim.min.js')}}"></script>
   <script src="{{asset('admin-scripts/summernote-lite.js')}}"></script>
{% endblock %}
