{% extends 'base.html.twig' %}

{% block title %}New CandidatureAppelProjet{% endblock %}

{% block body %}
    <h1>Create new CandidatureAppelProjet</h1>

    {{ include('candidature_appel_projet/_form.html.twig') }}

    <a href="{{ path('candidature_appel_projet_index') }}">back to list</a>
{% endblock %}
